.home-page-container {
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name a {
    font-size: 24px;
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--background-color);
    border-radius: 20px;
    background-color: var(--white-color);
    width: 300px;
}

.search-bar-container input {
    width: 100%;
    border: none;
    padding: 8px 15px;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
}

.search-icon {
    margin-right: 15px;
    color: var(--text-color);
}

.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    z-index: 50;
    color: var(--text-color);
}

.search-results-dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid var(--button-hover-color);
}

.search-results-dropdown a {
    text-decoration: none;
    color: inherit;
}

.search-results-dropdown li:hover {
    background-color: var(--button-hover-color);
}

.profile-menu {
    position: relative;
    z-index: 100; 
}

.user-icon {
    font-size: 30px;
    cursor: pointer;
}

.sidebar-curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}


.user-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 100;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.sidebar-header {
    text-align: center;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar-user-icon {
    font-size: 60px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-buttons button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--submit-button-color);
    color: var(--text-color);
}

.sidebar-buttons .logout-button {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.content {
    flex-grow: 1;
    padding: 50px;
    text-align: center;
}

.books-section, .user-reviews-section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.book-cards-container, .review-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.book-cards-container .book-card a .book-title{
    text-decoration: none;
}

.book-card, .review-card {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-card{
    height: 300px;
}

.book-image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.book-title {
     text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.rating-container {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
}

.star.filled {
    color: var(--yellow-color);
}

.star.half-filled {
    color: var(--yellow-color);
}

.star.empty {
    color: var(--text-color);
}

.no-reviews-message {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: var(--button-hover-color);
    margin: 50px 0;
}

.footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons svg {
    font-size: 24px;
    cursor: pointer;
}