.review-page-container {
    font-family: 'Times New Roman', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.review-detail-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.review-details-card {
    margin-bottom: 200px;
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.card-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.review-details-title {
    font-size: 28px;
    margin: 0;
    color: var(--text-color);
}

.card-body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-details-comment {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    color: var(--text-color);
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid var(--background-color);
    padding-top: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.review-details-user {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.rating-container {
    display: flex;
    gap: 3px;
    justify-content: center;
}

.star.filled, .star.half-filled {
    color: var(--yellow-color);
}

.star.empty {
    color: var(--text-color);
}

.review-details-rating .star {
    font-size: 24px;
}

.review-details-date {
    font-style: italic;
    font-size: 14px;
    color: var(--text-color);
    margin: 0;
}
