body::-webkit-scrollbar {
  display: none; 
}

body a, button, input{
    text-decoration: none;
    color: inherit;
    font-family: 'Times New Roman', Times, serif;
}

:root{
  --background-color: #e6e0d9;
  --primary-color: #273043;
  --secondary-color: #e6e0d9;
  --text-color: #333;
  --subtitle-color: #555;
  --button-hover-color: #ccc;
  --white-color: #ffffff;
  --submit-button-color: #8BCFE9;
  --submit-button-hover-color: #7ac0e0;
  --black-color: #000000;
  --red-color: #ff0000;
  --yellow-color: #ffd700;
  --green-color: #00ff00;
}
